<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>{{moduleName}}</h1>
</section>
<!-- Main content -->
<section class="content">
    <mat-card class="support-card">
        <div class="row">
            <div class="col col-ld-11">
                <form [formGroup]="userForm" (ngSubmit)="updateUser()" autocomplete="off"
                    class="form-horizontal common-form">
                    <div class="row">
                        <div class="col-md-6">
                            <fieldset class="form-group form-field">
                                <label class="form-label">First Name<b>*</b></label>
                                <mat-form-field>
                                    <input matInput name="firstName" formControlName="firstName" type="text"
                                        [(ngModel)]="userObject['firstName']" class="form-control" required tabindex="1"
                                        placeholder="first name">
                                    <div class="form-control-feedback" *ngIf="userForm.controls['firstName'].errors">
                                        <p class="form-tooltip-error sm " [ngClass]="{'error':true}"
                                            *ngIf="userForm.controls['firstName'].errors.required && checkSubmitStatus">
                                            Please enter first name
                                        </p>
                                    </div>
                                </mat-form-field>
                            </fieldset>
                        </div>
                        <div class="col-md-6">
                            <fieldset class="form-group form-field">
                                <label class="form-label">Last Name<b>*</b></label>
                                <mat-form-field>
                                    <input matInput name="lastName" formControlName="lastName" type="text"
                                        [(ngModel)]="userObject['lastName']" class="form-control" required tabindex="2"
                                        placeholder="last name">
                                    <div class="form-control-feedback" *ngIf="userForm.controls['lastName'].errors">
                                        <p class="form-tooltip-error sm" [ngClass]="{'error':true}"
                                            *ngIf="userForm.controls['lastName'].errors.required && checkSubmitStatus">
                                            Please enter last name
                                        </p>
                                    </div>
                                </mat-form-field>
                            </fieldset>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <fieldset class="form-group form-field">
                                <label class="form-label">Contactno<b>*</b></label>
                                <mat-form-field>
                                    <input matInput name="contactNo" id="mobileNumber"  [textMask]="mask" formControlName="contactNo"
                                        type="text" [(ngModel)]="userObject['contactNo']" class="form-control" required
                                        tabindex="3">
                                    <div class="form-control-feedback" *ngIf="userForm.controls['contactNo'].errors">
                                        <p class="form-tooltip-error sm" [ngClass]="{'error':true}"
                                            *ngIf="userForm.controls['contactNo'].errors.required && checkSubmitStatus">
                                            Please enter contact no
                                        </p>
                                        <p class="form-tooltip-error sm" [ngClass]="{'error':true}"
                                            *ngIf="userForm.controls['contactNo'].errors.pattern && checkSubmitStatus">
                                            Please enter valid contact no
                                         </p>
                                    </div>
                                </mat-form-field>
                            </fieldset>
                        </div>
                        <div class="col-md-6">
                            <fieldset class="form-group form-field">
                                <label class="form-label">Timezone<b>*</b></label>
                                <mat-form-field>
                                    <mat-select placeholder="Select Timezone" formControlName="timeZoneGuid"
                                        [(ngModel)]="userObject['timezoneGuid']" tabindex="4">
                                        <mat-option *ngFor="let time of timezoneList" [value]="time.value | lowercase">
                                            {{time.text}}
                                        </mat-option>
                                    </mat-select>
                                    <div class="form-control-feedback" *ngIf="userForm.controls['timeZoneGuid'].errors">
                                        <p class="form-tooltip-error sm" [ngClass]="{'error':true}"
                                            *ngIf="userForm.controls['timeZoneGuid'].errors.required && checkSubmitStatus">
                                            Please select Timezone
                                        </p>
                                    </div>
                                </mat-form-field>
                            </fieldset>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <fieldset class="form-group form-field">
                                <label class="form-label">Email</label>
                                <p>{{ userObject["email"] }}</p>
                            </fieldset>
                        </div>

                    </div>

                    <div class="row mt-4 mb-0">
                        <div class="col-lg-12">
                            <div class="form-field">
                                <div class="input-field ">
                                    <button mat-flat-button color="primary" class="text-white " title="Submit"
                                        type="submit" tabindex="5">{{buttonname}}</button>
                                    <button mat-flat-button color="primary" class="text-white m-l-10"
                                        [routerLink]="['/dashboard']" title="Cancel">Cancel</button>

                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </mat-card>
</section>