<!-- Content Header (Page header) -->

<section class="content-header">
  <h1>{{moduleName}}</h1>
</section>
<!-- Main content -->

<section class="content">
  <mat-card class="support-card">
    <div class="row">
      <div class="col col-ld-11">
        <form [formGroup]="greenHouseForm" (ngSubmit)="addGreenHouse()" autocomplete="off" class="form-horizontal common-form">
          <div class="row">
            <div class="col-md-6">
              <fieldset class="form-group form-field">
                <label class="form-label">Name<b>*</b></label>
                <mat-form-field>
                  <input matInput name="name" formControlName="name" type="text" maxlength="50" [(ngModel)]="greenhouseObject['name']"
                         class="form-control" required  placeholder="Name">
                  <div class="form-control-feedback" *ngIf="greenHouseForm.controls['name'].errors">
                    <p class="form-tooltip-error sm " [ngClass]="{'error':true}"
                       *ngIf="greenHouseForm.controls['name'].errors.required && checkSubmitStatus">
                      Please enter Name
                    </p>
                  </div>
                </mat-form-field>
              </fieldset>
            </div>
            <div class="col-md-6">
              <fieldset class="form-group form-field">
                <label class="form-label">Address:<b>*</b></label>
                <mat-form-field>
                  <textarea rows="3" matInput class="form-control" formControlName="address" placeholder="address" name="address" [(ngModel)]="greenhouseObject['address']"
                            maxlength="255"></textarea>
                  <div class="form-control-feedback" *ngIf="greenHouseForm.controls['address'].errors">
                    <p class="form-tooltip-error sm " [ngClass]="{'error':true}"
                       *ngIf="greenHouseForm.controls['address'].errors.required && checkSubmitStatus">
                      Please enter Address
                    </p>
                  </div>
                </mat-form-field>
              </fieldset>
            </div>
          </div>
          <div class="row">

            <div class="col-md-6">
              <fieldset class="form-group form-field">
                <label class="form-label">City<b>*</b></label>
                <mat-form-field>
                  <input matInput name="city" formControlName="city" type="text" maxlength="50" [(ngModel)]="greenhouseObject['city']"
                         class="form-control" required  placeholder="City">
                  <div class="form-control-feedback" *ngIf="greenHouseForm.controls['city'].errors">
                    <p class="form-tooltip-error sm " [ngClass]="{'error':true}"
                       *ngIf="greenHouseForm.controls['city'].errors.required && checkSubmitStatus">
                      Please enter City
                    </p>
                  </div>
                </mat-form-field>
              </fieldset>
            </div>
            <div class="col-md-6">
              <fieldset class="form-group form-field">
                <label class="form-label">Country<b>*</b></label>
                <mat-form-field>
                  <mat-select (selectionChange)="changeCity($event)" placeholder="Select Country" formControlName="countryGuid" [(ngModel)]="greenhouseObject['countryGuid']" >
                    <mat-option *ngFor="let country of countryList" [value]="getdata(country.value)">
                      {{country.text}}
                    </mat-option>
                  </mat-select>
                  <div class="form-control-feedback" *ngIf="greenHouseForm.controls['countryGuid'].errors">
                    <p class="form-tooltip-error sm" [ngClass]="{'error':true}"
                       *ngIf="greenHouseForm.controls['countryGuid'].errors.required && checkSubmitStatus">
                      Please select Country
                    </p>
                  </div>
                </mat-form-field>
              </fieldset>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <fieldset class="form-group form-field">
                <label class="form-label">State<b>*</b></label>
                <mat-form-field>
                  <mat-select formControlName="stateGuid" placeholder="Select State" [(ngModel)]="greenhouseObject['stateGuid']" >
                    <mat-option *ngFor="let city of cityList" [value]="getdata(city.value)">
                      {{city.text}}
                    </mat-option>
                  </mat-select>
                  <div class="form-control-feedback" *ngIf="greenHouseForm.controls['stateGuid'].errors">
                    <p class="form-tooltip-error sm" [ngClass]="{'error':true}"
                       *ngIf="greenHouseForm.controls['stateGuid'].errors.required && checkSubmitStatus">
                      Please select State
                    </p>
                  </div>
                </mat-form-field>
              </fieldset>
            </div>
            <div class="col-md-6">
              <fieldset class="form-group form-field">
                <label class="form-label">Zip Code<b>*</b></label>
                <mat-form-field>
                  <input matInput name="zipcode" formControlName="zipcode" type="text" maxlength="50" [(ngModel)]="greenhouseObject['zipcode']"
                         class="form-control" required placeholder="Zip Code">
                  <div class="form-control-feedback" *ngIf="greenHouseForm.controls['zipcode'].errors">
                    <p class="form-tooltip-error sm" [ngClass]="{'error':true}"
                       *ngIf="greenHouseForm.controls['zipcode'].errors.required && checkSubmitStatus">
                      Please enter Zip Code
                    </p>
                    <p class="form-tooltip-error sm" [ngClass]="{'error':true}"
                       *ngIf="greenHouseForm.controls['zipcode'].errors.pattern && checkSubmitStatus">
                      Please enter only numbers
                    </p>
                  </div>
                </mat-form-field>
              </fieldset>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <fieldset class="form-group form-field">
                <label class="form-label">Latitude<b>*</b></label>
                <mat-form-field>
                  <input matInput name="latitude" formControlName="latitude" type="text" maxlength="20" [(ngModel)]="greenhouseObject['latitude']"
                         class="form-control" required placeholder="Latitude">
                  <div class="form-control-feedback" *ngIf="greenHouseForm.controls['latitude'].errors">
                    <p class="form-tooltip-error sm" [ngClass]="{'error':true}"
                       *ngIf="greenHouseForm.controls['latitude'].errors.required && checkSubmitStatus">
                      Please enter Latitude
                    </p>
                    <p class="form-tooltip-error sm" [ngClass]="{'error':true}"
                       *ngIf="greenHouseForm.controls['latitude'].errors.pattern && checkSubmitStatus">
                      Please enter valid Latitude
                    </p>
                  </div>
                </mat-form-field>
              </fieldset>
            </div>
            <div class="col-md-6">
              <fieldset class="form-group form-field">
                <label class="form-label">Longitude<b>*</b></label>
                <mat-form-field>
                  <input matInput name="longitude" formControlName="longitude" type="text" maxlength="20" [(ngModel)]="greenhouseObject['longitude']"
                         class="form-control" required placeholder="Longitude">
                  <div class="form-control-feedback" *ngIf="greenHouseForm.controls['longitude'].errors">
                    <p class="form-tooltip-error sm" [ngClass]="{'error':true}"
                       *ngIf="greenHouseForm.controls['longitude'].errors.required && checkSubmitStatus">
                      Please enter Longitude
                    </p>
                    <p class="form-tooltip-error sm" [ngClass]="{'error':true}"
                       *ngIf="greenHouseForm.controls['longitude'].errors.pattern && checkSubmitStatus">
                      Please enter valid Longitude
                    </p>
                  </div>
                </mat-form-field>
              </fieldset>
            </div>
          </div>
          <div class="row">

            <div class="col-md-6">
              <fieldset class="form-group">
                <label class="form-label">Description:</label>
                <mat-form-field>
                  <textarea matInput rows="3" class="form-control" formControlName="description" placeholder="description" name="description" [(ngModel)]="greenhouseObject['description']"
                           maxlength="255"></textarea>
                </mat-form-field>
              </fieldset>
            </div>
            <div class="col-md-6">
              <fieldset class="form-group">
                <input formControlName="imageFile" (change)="handleImageInput($event)" class="upload-image" type="file" />
                <div class="form-control-feedback" *ngIf="greenHouseForm.controls['imageFile'].errors">
                  <p class="form-tooltip-error sm" [ngClass]="{'error':true}"
                     *ngIf="greenHouseForm.controls['imageFile'].errors.required && checkSubmitStatus">
                    Upload Image
                  </p>
                </div>
              </fieldset>
            </div>
          </div>
          <div class="row mt-4 mb-0">
            <div class="col-lg-12">
              <div class="form-field">
                <div class="input-field ">
                  <button mat-flat-button color="primary"
                          class="text-white " title="Submit" type="submit">
                    {{buttonname}}
                  </button>
                  <button mat-flat-button color="primary" class="text-white m-l-10" [routerLink]="['/green-houses']"
                          title="Cancel">
                    Cancel
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </mat-card>
</section>
