<section class="content-header">
    <h1>Add Notifications</h1>
    <div class="content-header-action">
    </div>
</section>

<div class="content p-t-0">
    <form autocomplete="off" class="form-horizontal common-form" [formGroup]="postForm" (ngSubmit)="submitForm()">
        <mat-card class="plan-card mb-3 mat-card">
            <div class="row">
                <div class="col col-ld-12">
                    <div class="row">
                        <div class="col-md-4">
                            <fieldset class="form-group form-field mb-0">
                                <label class="form-label">Rule Name<b>*</b></label>
                                <mat-form-field>
                                    <input formControlName="name" matInput placeholder="Rule Name" value="">
                                    <div class="form-control-feedback" *ngIf="postForm.controls['name'].errors">
                                        <p class="form-tooltip-error sm " [ngClass]="{'error':true}"
                                            *ngIf="postForm.controls['name'].errors.required && checkSubmitStatus">
                                            Please enter rule name
                                        </p>
                                    </div>
                                </mat-form-field>
                            </fieldset>
                        </div>
                        <div class="col-md-4">
                            <fieldset class="form-group form-field mb-0">
                                <label class="form-label">Template<b>*</b></label>
                                <mat-form-field>
                                    <mat-label>Select Template</mat-label>
                                    <mat-select formControlName="templateGuid"
                                        (selectionChange)="getTemplateAttributeLookup()">
                                        <mat-option value="">Select Template</mat-option>
                                        <mat-option value="{{template['value']}}" *ngFor="let template of templateList">
                                            {{template['text']}}</mat-option>
                                    </mat-select>
                                    <div class="form-control-feedback" *ngIf="postForm.controls['templateGuid'].errors">
                                        <p class="form-tooltip-error sm " [ngClass]="{'error':true}"
                                            *ngIf="postForm.controls['templateGuid'].errors.required && checkSubmitStatus">
                                            Please select template
                                        </p>
                                    </div>
                                </mat-form-field>
                            </fieldset>
                        </div>
                        <div class="col-md-4">
                            <fieldset class="form-group form-field mb-0">
                                <label class="form-label">Severity levels<b>*</b></label>
                                <mat-form-field>
                                    <mat-label>Select severity levels</mat-label>
                                    <mat-select formControlName="severityLevelGuid">
                                        <mat-option value="{{severity['value']}}" *ngFor="let severity of severityList">
                                            {{severity['text']}}</mat-option>
                                    </mat-select>
                                    <div class="form-control-feedback"
                                        *ngIf="postForm.controls['severityLevelGuid'].errors">
                                        <p class="form-tooltip-error sm " [ngClass]="{'error':true}"
                                            *ngIf="postForm.controls['severityLevelGuid'].errors.required && checkSubmitStatus">
                                            Please select severity
                                        </p>
                                    </div>
                                </mat-form-field>
                            </fieldset>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <fieldset class="form-group form-field">
                                <label class="form-label d-block">Rule type:<b>*</b></label>
                                <mat-radio-group formControlName="ruleType" (change)="ruleTypeChange()"
                                    aria-label="Select an option">
                                    <mat-radio-button value="1" [checked]="(ruleType === '1') ? true:false">Standard
                                        Rule</mat-radio-button>
                                    <mat-radio-button value="2" [checked]="(ruleType === '2') ? true:false">Smart Rule
                                    </mat-radio-button>
                                </mat-radio-group>
                            </fieldset>
                        </div>
                    </div>
                    <div class="row" [ngClass]="(ruleType === '1')? '':'hide'">
                        <div class="col-md-4">
                            <fieldset class="form-group form-field mb-0">
                                <label class="form-label">Attribute<b>*</b></label>
                                <mat-form-field>
                                    <mat-label>Select Attribute</mat-label>
                                    <mat-select formControlName="attributeGuid">
                                        <mat-option>Select Template</mat-option>
                                        <mat-option value="{{attribute['guid']}}"
                                            *ngFor="let attribute of attributeList">
                                            {{attribute['localName']}}({{attribute['tag']}})</mat-option>

                                    </mat-select>
                                    <div class="form-control-feedback"
                                        *ngIf="attributeGuidValidationMsg && checkSubmitStatus">
                                        <p class="form-tooltip-error sm " [ngClass]="{'error':true}">
                                            Please select attribute
                                        </p>
                                    </div>
                                </mat-form-field>
                            </fieldset>
                        </div>
                        <div class="col-md-4">
                            <fieldset class="form-group form-field mb-0">
                                <label class="form-label">Condition<b>*</b></label>
                                <mat-form-field>
                                    <mat-label>Select Condition</mat-label>
                                    <mat-select formControlName="conditionText">
                                        <mat-option value="{{condition['value']}}"
                                            *ngFor="let condition of conditionList">
                                            {{condition['text']}}</mat-option>
                                    </mat-select>
                                    <div class="form-control-feedback"
                                        *ngIf="postForm.controls['conditionText'].errors">
                                        <p class="form-tooltip-error sm " [ngClass]="{'error':true}"
                                            *ngIf="postForm.controls['conditionText'].errors.required && checkSubmitStatus">
                                            Please select condition
                                        </p>
                                    </div>
                                </mat-form-field>
                            </fieldset>
                        </div>
                        <div class="col-md-4">
                            <fieldset class="form-group form-field mb-0">
                                <label class="form-label">value<b>*</b></label>
                                <mat-form-field>
                                    <input formControlName="conditionValue" matInput placeholder="value" value="">
                                    <div class="form-control-feedback"
                                        *ngIf="condtionValueValidationMsg && checkSubmitStatus">
                                        <p class="form-tooltip-error sm " [ngClass]="{'error':true}">
                                            Please enter value
                                        </p>
                                    </div>
                                </mat-form-field>
                            </fieldset>
                        </div>
                    </div>

                    <div class="row" [ngClass]="(ruleType === '2')? '':'hide'">
                        <div class="col-md-5">
                            <fieldset class="form-group form-field mb-0">
                                <label class="form-label">Conditions <div class="d-inline-block ml-1">
                                        <button class="infobutton" matTooltip="Condition statement triggers Rule on telemetry data that meet specified criteria. Criteria are expressed in the form of predicates. &#13;
                                        Eg.
                                        1) Temperature &gt; 50 
                                        2) Temperature &gt; 50 AND Humidity &lt; 20 
                                        3) Temperature &gt; 50 AND ( Humidity &lt; 20 OR WaterLevel &gt; 10 )
                                        4) Status = on">
                                            <img src="../../../../../assets/images/info-icon.svg"
                                                height="15px"></button>
                                    </div></label>
                                <mat-form-field>
                                    <mat-label>Select Condition</mat-label>
                                    <textarea formControlName="conditionText" placeholder="Select Condition" rows="8"
                                        class="form-control" matInput></textarea>
                                    <div class="form-control-feedback"
                                        *ngIf="postForm.controls['conditionText'].errors">
                                        <p class="form-tooltip-error sm " [ngClass]="{'error':true}"
                                            *ngIf="postForm.controls['conditionText'].errors.required && checkSubmitStatus">
                                            Please select condition
                                        </p>
                                    </div>
                                </mat-form-field>
                            </fieldset>
                        </div>
                        <div class="col-md-5">
                            <fieldset class="form-group form-field mb-0">
                                <label class="form-label">Select Attributes</label>
                                <div class="group-box add-ruls-attributes h200">
                                    <ul>
                                        <li *ngFor="let attribute of attributeList"><a
                                                (click)="clickAttribute(attribute['localName'])" class="angle-button"><i
                                                    class="fa fa-angle-left"
                                                    aria-hidden="true"></i></a>{{attribute['localName']}}({{attribute['tag']}})
                                        </li>
                                        <!-- <li><a class="angle-button"><i class="fa fa-angle-left" aria-hidden="true"></i></a>humidity#Humidity (STRING)</li> -->

                                    </ul>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>
        </mat-card>
        <mat-card class="plan-card mb-3 mat-card">
            <div class="row">
                <div class="col col-ld-12">
                    <form autocomplete="off" class="form-horizontal common-form">
                        <h2 class="m-b-20">Rule Applies On</h2>
                        <div class="row">
                            <div class="col-md-4">
                                <fieldset class="form-group form-field mb-0">
                                    <mat-radio-group aria-label="Select an option">
                                        <mat-radio-button value="1" [checked]="true">All Device of Selected Entity
                                        </mat-radio-button>
                                        <mat-radio-button value="2">Selected Devices</mat-radio-button>
                                    </mat-radio-group>
                                </fieldset>
                            </div>
                            <div class="col-md-4">
                                <fieldset class="form-group form-field mb-0">
                                    <mat-form-field>
                                        <mat-label>Select Entity</mat-label>
                                        <mat-select>
                                            <mat-option>FRMGreenHouse001</mat-option>
                                            <mat-option>SG-001</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </fieldset>
                            </div>
                            <div class="col-md-4">
                                <fieldset class="form-group form-field mb-0">
                                    <mat-checkbox>Include Device of Child Entities</mat-checkbox>
                                </fieldset>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </mat-card>
        <mat-card class="plan-card mb-3 mat-card">
            <div class="row">
                <div class="col col-ld-12">
                    <h2 class="m-b-20">Notification Type</h2>
                    <div class="row">
                        <div class="col-md-12 notification-type mb-4">
                            <mat-checkbox
                                *ngFor="let notification of postForm['controls']['notificationTypes']['controls']; let i=index;"
                                [formControl]="notification"
                                (change)="getSelectedNotification(notification, myNotification[i].name);">
                                {{myNotification[i].name}}
                            </mat-checkbox>
                        </div>

                        <div *ngIf="deviceCommandType" class="col-md-12">
                            <mat-card class="plan-card mb-3 mat-card">
                                <div class="row">
                                    <div class="col col-ld-12">
                                        <h2 class="m-b-20">Device Command Details</h2>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <fieldset class="form-group form-field mb-0">
                                                    <label class="form-label">Select Command<b>*</b></label>
                                                    <mat-form-field>
                                                        <mat-label>Select Command</mat-label>
                                                        <mat-select formControlName="commandText">
                                                            <mat-option value="">Select Command</mat-option>

                                                            <mat-option value="{{command['value']}}"
                                                                *ngFor="let command of commandList">
                                                                {{command['text']}}</mat-option>
                                                        </mat-select>
                                                        <div class="form-control-feedback"
                                                            *ngIf="commandTextValidationMsg && checkSubmitStatus">
                                                            <p class="form-tooltip-error sm "
                                                                [ngClass]="{'error':true}">
                                                                Please selected command
                                                            </p>
                                                        </div>
                                                    </mat-form-field>
                                                </fieldset>
                                            </div>

                                            <div class="col-md-4">
                                                <fieldset class="form-group form-field mb-0">
                                                    <label class="form-label">Parameter Value:</label>
                                                    <mat-form-field>
                                                        <input formControlName="commandValue" matInput
                                                            placeholder="Parameter Value" value="">
                                                        <div class="form-control-feedback"
                                                            *ngIf="commandValueValidationMsg && checkSubmitStatus">
                                                            <p class="form-tooltip-error sm "
                                                                [ngClass]="{'error':true}">
                                                                Please enter value
                                                            </p>
                                                        </div>
                                                    </mat-form-field>
                                                </fieldset>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </mat-card>
                        </div>
                        <div class="col-md-12">
                            <fieldset class="form-group form-field mb-0">
                                <label class="form-label d-block">Ignore Preference<b>*</b></label>
                            </fieldset>
                            <mat-slide-toggle></mat-slide-toggle>

                            <div class="d-inline-block ml-3">
                                <button class="infobutton"
                                    matTooltip="Ignore preference will send the notification to all the target audience irrespective of their preference"
                                    matTooltipPosition="right"><img
                                        src="../../../../../assets/images/info-icon.svg"></button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </mat-card>
        <mat-card class="plan-card mb-3 mat-card">
            <div class="row">
                <div class="col col-ld-12">
                    <form autocomplete="off" class="form-horizontal common-form">
                        <h2 class="m-b-20">Audience</h2>
                        <div class="row">
                            <div class="col-md-4">
                                <fieldset class="form-group form-field mb-0">
                                    <label class="form-label">Select Roles<b>*</b></label>
                                    <mat-form-field>
                                        <mat-label>Select Roles</mat-label>
                                        <mat-select multiple>
                                            <mat-option>Admin</mat-option>
                                            <mat-option>Web User</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </fieldset>
                            </div>
                            <div class="col-md-4">
                                <fieldset class="form-group form-field mb-0">
                                    <label class="form-label">Select Users<b>*</b></label>
                                    <mat-form-field>
                                        <mat-label>Select Users</mat-label>
                                        <mat-select multiple>
                                            <mat-option>User 01</mat-option>
                                            <mat-option>User 02</mat-option>
                                            <mat-option>User 03</mat-option>
                                            <mat-option>User 04</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </fieldset>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </mat-card>
        <div class="row mt-2 mb-1">
            <div class="col-lg-12">
                <div class="form-field">
                    <div class="input-field ">
                        <button type="submit" mat-flat-button color="primary" class="text-white "
                            title="Save">Save</button>
                        <button mat-flat-button color="primary" class="text-white " title="Cancel"
                            [routerLink]="['/notification']">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

</div>