<footer class="main-footer">
	<div class="row footerbottom">
	  <div class="col-md-12">
		<div class="row align-items-center flex-wrap">
		  <div class="col">
			<img src="./assets/images/footer_logo.svg" alt="" width="112">
		  </div>
		  <div class="col-8 footer-right">
			  <!-- <div class="footer-link">
				  <a routerLink="/terms" target="_blank">Privacy Policy</a>
				</div> -->
			<div class="copyright">
			  <p>  Copyright ©{{date | date:'yyyy'}} Avnet, Inc. All rights reserved. </p>
			</div>
		  </div>
		</div>
	  </div>
	</div>
  </footer>  