.dashboard h5{
  font-size: 20px;
}
.dashboard .mat-card.filter-card {
  padding: 20px 25px!important;
}
.dashboard .mat-card.filter-card::after {
bottom: 100%;
right: 13px;
border: 10px solid rgba(119, 76, 76, 0);
content: " ";
height: 0;
width: 0;
position: absolute;
pointer-events: none;
border-bottom-color: #fff;
margin-left: -10px;
display: block;
border-left: 10px solid transparent;
border-right: 10px solid transparent;
border-bottom: 10px solid #fff;
}
.dashboard ul.filter-for-chart li .filter-card::after {
  border-bottom-color: #fff;
} 

/****** Create Dashboard Bar start**************/
.dashboard-control-section{margin: -25px -25px 10px;padding: 15px 25px;background-color: #ececef;}
.dashboard-selector-dropdown .mat-select-trigger {height: 42px;}

.dashboard-selector-dropdown{height: 100%;max-height: 50px;cursor: pointer;position: relative;z-index: 99;margin-bottom: 0 !important;}
.dashboard-selector-dropdown .form-field, .dashboard-selector-dropdown .mat-form-field.mat-form-field {
margin-bottom: 0 !important;
}
.dropdown-item-text {
color: #000 !important;
padding: 0;
}
.dropdown-menu-wrapper{position: absolute;z-index: 9999;top: 100% !important;left: 20px !important;background: #fff;width: calc(100% - 34px);min-width: 220px;max-height: calc(100vh - 250px); margin-top:10px;padding:0!important; border-radius: 0 !important;transform: none !important;}
.dropdown-menu-wrapper.show{border: 1px solid #a8abad;}
.dropdown-menu-wrapper ng-scrollbar{height: 300px;}
.dashboard-select-dropdown > li{display: block;position: relative;}
.dashboard-select-dropdown > li > a{display: block;padding: 10px 15px;transition: all 0.2s ease-in-out;color: #000;font-size: 16px;}
.dashboard-select-dropdown > li > a:hover{background-color: #e1e3e9;opacity:1;}
.dashboard-select-dropdown {overflow: auto;max-height: calc(100vh - 250px);}
.dropdown-menu-wrapper:after{
  top: -10px;
  right: 15px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #a8abad;
  border-width: 10px;
  margin-left: -10px;
  margin-top: -10px;
}
.add-dashboard-input{min-width: 230px;}
.save-dashboard-btn:disabled {opacity: 0.5;pointer-events: none;}
.is-default-dashboard {margin-right: 25px;}
.dashboard-controls-right{margin-left: 10px;position: relative;}
.dashboard-controls-right .preview-label{margin-right: 10px;color: #0082c6;font-weight: 600;font-style: italic;font-size: 16px;}
/****** Create Dashboard Bar end**************/

/**Dashboard card**/
.dashboard-title{font-size: 26px;text-transform: uppercase;}
.dashboard-card{
background-color: #ffffff;position:relative;padding:0 !important;
-webkit-box-shadow: 0px 0px 8px 0px rgba(4,54,116,0.2) !important;
   -moz-box-shadow: 0px 0px 8px 0px rgba(4,54,116,0.2) !important;
        box-shadow: 0px 0px 8px 0px rgba(4,54,116,0.2) !important;
}
.dashboard-card .mat-card-header{display:flex;align-items:center;justify-content:right;padding:0px;}
.dashboard-card  .mat-card-header-text{margin:0;margin-right: auto;position: relative;}
.dashboard-card .mat-card-header .mat-card-title{margin: 0;padding:0;font-family: "ApercuPro-Bold-Web";font-weight:500;font-size:20px;}
.dashboard-card .mat-card-header ul{margin: 0;padding:0;}
.dashboard-card.mat-card {padding: 15px 20px !important;/*height: 100%;*/box-shadow: none !important;}

/****/

/***dashboard Plans and transaction start***/
ul.dashboard-status-list{padding:0;margin:0 -15px;display: flex;align-items: inherit;justify-content: space-around;flex-wrap:wrap;flex-flow:row wrap;}
ul.dashboard-status-list li{
flex:1;min-width:150px;background-color:#ffffff;min-height:140px;position:relative;text-align:center;padding:25px 15px 15px 15px;margin:0 5px 0;justify-content: center;display: flex;flex-direction: column;
-webkit-box-shadow: 0px 0px 8px 0px rgba(4,54,116,0.2);
   -moz-box-shadow: 0px 0px 8px 0px rgba(4,54,116,0.2);
        box-shadow: 0px 0px 8px 0px rgba(4,54,116,0.2);
}


ul.dashboard-status-list li h2{font-family:"ApercuPro-Bold-Web";font-weight:600;font-size:38px;margin-bottom:10px;line-height:38px;min-height:38px}
ul.dashboard-status-list li p{
font-family: 'ApercuPro-Regular-Web';font-weight:normal;font-size:20px;margin: 0;padding:0;line-height:22px;
}
ul.dashboard-status-list li span{
height: 10px;width:100%;position: absolute;top:0;left:0;
}
.top-border{
height: 10px;
width: 100%;
position: absolute;
top: 0;
left: 0;
}
.dashboard-status-list > app-plans,
.dashboard-status-list > app-active-plans,
.dashboard-status-list > app-replaced-plans,
.dashboard-status-list > app-subscribers,
.dashboard-status-list > app-transactions{flex: 1;}

.smallwidgets-count-chart-green ul.dashboard-status-list li,
.smallwidgets-count-chart-blue ul.dashboard-status-list li,
.smallwidgets-count-chart-red ul.dashboard-status-list li,
.smallwidgets-count-chart-orange ul.dashboard-status-list li,
.smallwidgets-count-chart-azure ul.dashboard-status-list li,
.smallwidgets-count-chart-purple ul.dashboard-status-list li,
.smallwidgets-count-chart-pink ul.dashboard-status-list li{background:transparent;color:#fff!important;padding:0}

.smallwidgets-count-chart-green .dashboard-chart,
.smallwidgets-count-chart-blue .dashboard-chart,
.smallwidgets-count-chart-red .dashboard-chart,
.smallwidgets-count-chart-orange .dashboard-chart,
.smallwidgets-count-chart-azure .dashboard-chart,
.smallwidgets-count-chart-purple .dashboard-chart,
.smallwidgets-count-chart-pink .dashboard-chart{display:flex;width:100%;height:100%;align-items:center;justify-content:center}

.smallwidgets-count-chart-green .dashboard-status-list,
.smallwidgets-count-chart-blue .dashboard-status-list,
.smallwidgets-count-chart-red .dashboard-status-list,
.smallwidgets-count-chart-orange .dashboard-status-list,
.smallwidgets-count-chart-azure .dashboard-status-list,
.smallwidgets-count-chart-purple .dashboard-status-list,
.smallwidgets-count-chart-pink .dashboard-status-list{width:100%}

.smallwidgets-count-chart-green .gridster-item-inner{background:#3492bc}
.smallwidgets-count-chart-blue .gridster-item-inner{background:#4ac465}
.smallwidgets-count-chart-red .gridster-item-inner{background:#3082f1}
.smallwidgets-count-chart-orange .gridster-item-inner{background:#e4658f}
.smallwidgets-count-chart-azure .gridster-item-inner{background:#ff6a3a}
.smallwidgets-count-chart-purple .gridster-item-inner{background:#ecb802}
.smallwidgets-count-chart-pink .gridster-item-inner{background:#aa41aa}

.ticket-count-box:hover .btn-remove-widget {width: 25px;height: 25px;display: block;z-index: 99999;position: absolute;top: 8px;right: 16px;}  
/***dashboard Plans and transaction end***/

/*BOf Dashboard Filter Dropdown Style*****************/
ul.filter-for-chart{padding: 0;margin:0;}
ul.filter-for-chart li{position:relative;}
ul.filter-for-chart li .filter-card {
position: absolute;
top: 45px;
right: -4px;
max-width: 420px;
z-index: 15;
box-shadow: 1px 2px 25px rgba(0, 0, 0, 0.2) !important;
border: 0;
border-radius: 10px;
}
ul.filter-for-chart li .filter-card .mat-radio-button{font-size:14px;display: block;}
ul.filter-for-chart li .filter-card::after{border-bottom-color:#a8abad;}
.status-ticket-dropdown h3 {font-family: 'ApercuPro-Regular-Web';font-weight: 500;font-size: 14px;color: #000;}
.status-ticket-dropdown .duration {margin-right: 15px;}
.status-ticket-dropdown .mat-radio-button{margin-bottom: 10px;}
.empty-data + .chart-detail-center h2 {
background: #eee;
padding: 40px;
border-radius: 100%;
position: relative;
width: 140px;
height: 140px;
}
/*EOf Dashboard Filter Dropdown Style*****************/





/*BOf allwidgets-menu**************************/
ngx-gridster {
min-height: 100vh;
}
ngx-gridster .gridster-container{box-sizing: border-box;}
.allwidgets-menu{
position:fixed;left:0px;top:72px;z-index:999;width:82px !important;background:#3f454c !important;
/* height:calc(100vh - 131px) !important; */height:100vh;
}
.sidebar-close .allwidgets-menu{
background:#2e333a !important;
}
.allwidgets-menu ng-scrollbar {
height: calc(100vh - 140px);
}
.allwidgets-menu h2 {
font-size: 20px;
font-weight: normal;
padding: 20px 30px;
margin: 0;
background: #3f454c;
color: #fff;
font-family: "ApercuPro-Bold-Web";
}
.allwidgets-menu ul.list {
padding: 20px;
margin: 0;
display: none;
background: #2e333a;
}
.allwidgets-menu ul.list>li {
display: flex;
align-items: center;
justify-content: space-between;
background: #5e646c;
margin: 0 0 10px 0;
border-radius: 10px;
color: #fff;
padding: 5px 15px;
position: relative;
min-height: 64px;
}
.allwidgets-menu ul.list>li.added {background: #757a81;}
.allwidgets-menu ul.list>li:last-child{border-width:1px 0 1px 0;}
.allwidgets-menu ul.list>li>a {
display: flex;
align-items: center;
width: calc(100% - 50px);
padding-right: 20px;
font-size: 16px;
line-height: normal;
color: #fff;
}

.allwidgets-menu ul.list>li>a.add-link{padding: 0 15px 0 15px;position:relative;color:#40c261;cursor:pointer;}
.allwidgets-menu ul.list>li>a.add-link>i{position: absolute;right:0;display:none;}
.allwidgets-menu ul.list>li>a>span.icon{
display:block;min-width:30px;height:30px;margin-right:15px;
background-image: url(../images/icon-ticket-dashboard.svg);
background-position: center;background-repeat:no-repeat;background-size:contain;
}
.allwidgets-menu ul.list>li.added>a.add-link>i{display: block;font-size:11px !important;}
/* .sidebar-collapse .allwidgets-menu,  */
.sidebar-close .allwidgets-menu{width: 270px !important;}
/* .sidebar-collapse.editdashboard .allwidgets-menu ul.list,  */
.sidebar-close.editdashboard .allwidgets-menu ul.list {display: block;}
.sidebar-collapse.editdashboard .allwidgets-menu h2{
margin: 91px 0 0 0;
background: none;
color: #fff;
white-space: nowrap;
transform: rotate(-90deg);
-webkit-transform: rotate(-90deg);
-moz-transform: rotate(-90deg);
-ms-transform: rotate(-90deg);
-o-transform: rotate(-90deg);
filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
-webkit-transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
-moz-transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
-o-transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
}

.edit-dashboard-title{justify-content:flex-start;align-items: center;}
.edit-dashboard-action{margin:0 10px;}
.edit-dashboard-action ul.list-action{display: flex;margin: 0;}
.edit-dashboard-action ul.list-action>li{margin: 0 10px;}
.edit-dashboard-action ul.list-action>li>a{display: flex;align-items: center;justify-content: center;}
.edit-dashboard-action ul.list-action>li>a>img{margin-right: 8px;}
.editdashboard .sidebar-menu {
display: none;
}
.editdashboard .dashboard .dashboard-card .mat-card-header ul {
display: none;
}
.editdashboard .btn-remove-widget{right: 20px}

.position-highlight .inner {
position: absolute;
top: 5px;
bottom: 5px;
left: 5px;
right: 5px;
background-color: #768294;
border: 1px solid transparent;
-webkit-transition: background 3s;
transition: background 3s;
border-radius: 3px;
box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
gridster .position-highlight {
display: block;
position: absolute;
z-index: 1;
}
.gridster-item-inner {
position: absolute;
background: #fff;
border: none;
top: 10px;
bottom: 10px;
left: 10px;
right: 10px;
transition: background 3s;
border-radius: 3px;
box-shadow: 1px 0px 8px rgba(4, 54, 116, 0.2);
}
.gridster-item-inner ul.dashboard-status-list li {box-shadow: none !important;-webkit-box-shadow: none !important;-moz-box-shadow: none !important;}
/* .dashboard .mat-card{box-shadow: none !important;} */
.dashboard .dashboard-card .mat-card-header ul{position:absolute;top:-52px;right:2px;}
.dashboard .dashboard-card .mat-card-header ul.ticket-create{top:-53px;right:80px;z-index: 9;}
.dashboard .ticket-left{position: static;}
.dashboard .panel-body{overflow: visible !important;position: relative;}


/* access denied design start*/
.access-denied-link{font-family: 'ApercuPro-Regular-Web';font-size: 18px;text-decoration: underline !important;color: #005de8 !important;}
.access-denied-link:before {content: "";display: inline-block;width: 0;height: 0;border-style: solid;border-width: 6px 0 6px 6px;border-color: transparent transparent transparent #007bff;margin-right: 10px;}
.access-denied {position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);font-size: 50px;text-align: center;white-space: nowrap;height: 40%;}
.drag-body .access-denied{max-width:300px;}
.access-denied img {width: 100%;height: auto;}
.panel-title.access-denied-title {position: relative;left: 15px;bottom: 5px;}
.edit-gridster-item .gridster-item-inner .panel-heading .access-denied-title{bottom: 0px;}
.edit-gridster-item .access-denied {margin-top: 5px;}
.panel-title.access-denied-title {
position: absolute;
top: 10px;
color: #fff;
}

/*BOF Small *******/
.smallwidgets-count-chart-green .panel-title.access-denied-title,
.smallwidgets-count-chart-blue .panel-title.access-denied-title,
.smallwidgets-count-chart-red .panel-title.access-denied-title,
.smallwidgets-count-chart-orange .panel-title.access-denied-title,
.smallwidgets-count-chart-azure .panel-title.access-denied-title,
.smallwidgets-count-chart-purple .panel-title.access-denied-title,
.smallwidgets-count-chart-pink .panel-title.access-denied-title{
left:auto;bottom:auto;position:relative;top:auto;color:#fff;width:auto !important;text-overflow:unset;text-align:center;white-space:normal;
font-weight: 400;font-size:20px;font-family: "ApercuPro-Regular-Web";
}
.smallwidgets-count-chart-green .access-denied,
.smallwidgets-count-chart-blue .access-denied,
.smallwidgets-count-chart-red .access-denied,
.smallwidgets-count-chart-orange .access-denied,
.smallwidgets-count-chart-azure .access-denied,
.smallwidgets-count-chart-purple .access-denied,
.smallwidgets-count-chart-pink .access-denied{
position:relative;top:auto;left:auto;transform:none;font-size:inherit;text-align:center;white-space:nowrap;height:auto;width:40%;
}
/*EOF Small *******/

/* access denied design end*/

.dashboard .mat-card-title{display: none;}
.btn-remove-widget{background-color:transparent;border:0;position:absolute;right:50px;top:13px;font-size:17px;}
.ticket-count-box .btn-remove-widget{display: none;}
.panel-heading {display: inline-block; width: 100%;top: 0;}
.edit-gridster-item .panel-heading.drag-body{border:none;}
.panel-heading .panel-title {padding: 10px;margin: 0;width: 70%!important;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;font-family: "ApercuPro-Bold-Web";}
.drag-body .panel-heading {
  padding: 0px 5px 0 0;
  background: #eaeff6;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 55px;
  border: solid 1px #e5e5e5;
  border-bottom: none;
}
.drag-body .panel-heading .panel-title {
padding: 15px 25px;
font-size: 20px;
}

.drag-body .mat-icon-button {
background: url(../images/dots.svg) no-repeat;
background-position: center;
}
.drag-body .mat-icon-button .mat-icon{
  opacity: 0;
}

.dashboard.view-gridster-item .dashboard-card .mat-card-header ul.filter-for-chart:not(.ticket-create) {top: -52px;right: 5px;}
.ticket-count-box {padding: 0 !important;}
.dashboard.view-gridster-item .dashboard-card .mat-card-header ul.ticket-create {top: -53px;right: 35px;}
.dashboard.view-gridster-item .dashboard-card .mat-card-header ul.ticket-create + ul.filter-for-chart {top: -52px;right: 5px;}
.dashboard.view-gridster-item .ticket-right{margin-top: -0px;}
/*****/
.edit-panel{
background-color: #ffffff;margin:0 6px 20px 6px;padding:20px 40px 10px 40px;
-webkit-box-shadow: 0px 0px 8px 0px rgba(4,54,116,0.2) !important;
   -moz-box-shadow: 0px 0px 8px 0px rgba(4,54,116,0.2) !important;
        box-shadow: 0px 0px 8px 0px rgba(4,54,116,0.2) !important;
display:flex;
justify-content:space-between;
align-items:center;
}
/*BOf Dashboard Dropdown*******/
.select-dashboard-dropdown .dropdown-toggle{background-color:transparent;border:0;font-family:"ApercuPro-Bold-Web";font-size:26px;color:#000000;text-transform:uppercase;}
.select-dashboard-dropdown .dropdown-menu{
background-color:#ffffff;border-color:#a8abad;border-style:solid;border-width:1px !important;border-radius:0 !important;width:230px !important;top:40px;right:-20px !important;
-webkit-box-shadow: 0px 0px 8px 0px rgba(4,54,116,0.2) !important;
   -moz-box-shadow: 0px 0px 8px 0px rgba(4,54,116,0.2) !important;
        box-shadow: 0px 0px 8px 0px rgba(4,54,116,0.2) !important;
        -webkit-transition:all 0.2s;
           -moz-transition:all 0.2s;
             -o-transition:all 0.2s;
                transition:all 0.2s;
}
.select-dashboard-dropdown .dropdown-menu::after{
bottom:100%;right:47px;content:" ";height:0;width:0;position:absolute;pointer-events:none;margin-left:-10px;
border:solid transparent;border-color:rgba(255, 255, 255, 0);border-bottom-color: #a8abad;border-width:10px;
}
.select-dashboard-dropdown .dropdown-menu a:hover{background-color:#f0f2f5;color:#000000;}
/*EOf Dashboard Dropdown*******/

/*EOf allwidgets-menu**************************/
.add-link {text-decoration: none !important;color: #32ee62 !important;-webkit-appearance: none;-moz-appearance: none;appearance: none;background: none;border: 0;position: absolute;right: 0;height: 100%;width: 50px;border-left: 1px solid rgba(46, 51, 58, 0.5);}
.add-link:disabled {cursor: not-allowed;}
.add-link i.fa-check{display: none;}
.add-link i.fa-plus{display: block;}
.add-link:disabled i.fa-check{display: block;}
.add-link:disabled i.fa-plus{display: none;}

/* SI-Admin widgets design start*/


/* Dashboard widget System Integrators design start*/
.system-integrators-card .chart-wrap,.product-card .chart-wrap{width:100%;text-align:center;margin-top:10px!important;position:relative}
.chart-graph{display:inline-flex;margin:0 auto;position:relative;min-height:220px}
.chart-detail{margin-top:20px}
.chart-detail-item{display:flex;justify-content:center;align-items:center;max-width:270px;margin:0 auto;font-size:18px;margin-bottom:12px}
.chart-detail-item div{min-width:80px}
.chart-detail-item span{width:50px;height:26px;background:#000;color:#fff;border-radius:4px;font-size:14px;font-weight:500;padding:3px;display:inline-block;margin-left:20px}
.chart-detail-item span.bg-green{background:#23bc45!important}
.chart-detail-item span.bg-blue{background:#64acf3!important}
.chart-detail-item span.bg-orange{background:#fe720b!important}
.chart-detail-center{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%)}
.chart-detail-center h2{font-family:'ApercuPro-Regular-Web';font-size:26px;line-height:30px;font-weight:500;margin-bottom:0}
.chart-title h6{font-size:18px;position:absolute;top:100%;right:0;text-align:left;width:100%;white-space:nowrap}
#google-visualization-errors-all-1{position:absolute}
/* Dashboard widget System Integrators design end*/

/* marketplace widget design start*/
ul.dashboard-marketplace-list {
display: flex;
flex-wrap: wrap;
}
.dashboard-marketplace-list li {
display: inline-flex;
justify-content: left;
align-items: center;
padding: 38px;
margin: 15px;
width: calc(50% - 30px);
border: 1px solid #e4e7ec;
min-height: 135px;
}
.marketplace-icon {
min-width: 56px;
margin: 0 10px;
height: 60px;
display: flex;
justify-content: center;
align-items: center;
}
.marketplace-icon img {
max-width: 100%;
}
.marketplace-detail {
display: flex;
align-items: center;
flex-direction: column;
flex: 1;
text-align: center;
}

.marketplace-title {
font-size: 20px;
}
.marketplace-data {
font-size: 30px;
line-height: 30px;
margin-bottom: 3px;
font-family: "ApercuPro-Bold-Web";
}

/* marketplace widget design end*/

/* ticket widget design start*/
.ticket-wrapper{display: flex;justify-content: space-between;}
.ticket-left{width: calc(100% - 175px);padding-right: 20px;position: relative;}
.ticket-right{min-width: 175px;max-width: 175px;padding: 25px;background: #f5f7f8;border: 1px solid #dde0e2;font-size: 16px;}
ul.filter-for-chart.ticket-create {
margin-right: 15px;
}
.current-month-item {display: flex; justify-content: flex-end;margin: 18px 0;}
.current-month-item.current-month-title {font-size: 22px;margin-top: 0;}
.current-month-item:nth-of-type(2) span, .text-skyblue{color: #1774f0;}
.current-month-item:nth-of-type(3) span, .text-orange{color: #fe720b;}
.current-month-item:nth-of-type(4) span, .text-darkred{color: #c0504d;}
.current-month-item:nth-of-type(5) span, .text-lightred{color: #ff0000;}
.current-month-item:nth-of-type(6) span, .text-lightgreen{color: #00b070;}
.current-month-item:nth-of-type(7) span, .text-darkgreen{color: #769261;}
.current-month-item div {font-weight: 500;margin-right: 10px;}
.current-month-item span {font-weight: 900;}
/* ticket widget design end*/


/************ payout widget start******************/
.payout-widgets-wrapper {
padding: 20px;
}
.payout-widget-item {
background: #f6f6f6;
padding: 25px;
border: 1px solid #dcdfe4;
text-align: center;
height: 100%;
align-items: center;
display: flex;
justify-content: center;
}
.payout-widget-item h2 {
font-size: 40px;
font-family: "ApercuPro-Bold-Web";
margin-bottom: 10px;
white-space: nowrap;
}
.payout-widget-item h2 span{
font-size: 24px;
white-space: nowrap;
}
.payout-widget-text {
font-size: 20px;
white-space: nowrap;
}
/************ payout widget end******************/

/*BOF Round Chart*****/
.legend-item { margin: 0; padding: 0 0 10px 0;display:flex;align-items:center;}
.legend-item p { display: inline-block; margin: 0; width: calc(100% - 50px);margin-right: 10px;}
.legend-item span { border-radius: 4px; display: inline-block; width: 35px; text-align: center; padding: 3px 0; color: #fff; font-size: 14px;margin-right: 10px;}
.legend-item span.ticket-new { background: #1774f0;}
.legend-item span.ticket-progress { background: #fe720b;}
.legend-item span.ticket-hold { background: #c0504d;}
.legend-item span.ticket-cancelled { background: #ff0000;}
.legend-item span.ticket-resolved { background: #00b070;}
.legend-item span.ticket-closed { background: #769261;}
.legend-item span.ticket-planning { background: #1774f0;}
.legend-item span.ticket-critical { background: #990099;}
.legend-item span.ticket-high { background: #dc3912;}
.legend-item span.ticket-low { background:#109618;}
.legend-item span.ticket-moderate { background:#ff9900 }
div#ticketStatus svg{object-fit:cover;width:250px!important;height:100%!important;overflow:visible!important;float: left;}
/* .chart-wrap-inner{overflow: hidden;} */
.chart-wrap .no-record {
width: 200%;
}
.chart-wrap-inner .chart-area{width:50%;float:left;position:relative;/*max-height: 250px;*/}
.chart-wrap-inner .legend-list{width:50%;float:right;margin-top:15%;display:inline-block}
.chart-wrap-inner .legend-list .legend-item{width:100%;float:left}
/* .chart-totale-ticket{position:absolute;top:50%;text-align:center;margin-top:-24px;left:80px} */
.chart-totale-ticket {
position: absolute;
top: 50%;
text-align: center;
left: 68px;
-webkit-transform: translate(0%, -50%);
transform: translate(0%, -50%);
font-size: 28px;
line-height: 28px;
width: 120px;
text-align: center;
}
.chart-totale-ticket span{display:block}
@media only screen and (min-width: 320px) and (max-width: 1100px) {
.chart-wrap-inner .legend-list{display: none;}
.chart-totale-ticket{left:100%;margin-left: 70px;font-size:19px;text-align:left;width:fit-content;}
.chart-totale-ticket span{font-size: 22px;}
}
@media(max-width: 1280px){
ul.dashboard-status-list li{min-width:auto;min-height:auto;}
ul.dashboard-status-list li p{font-size:14px;line-height:15px;}
ul.dashboard-status-list li h2{font-size:18px;line-height:18px;min-height:18px;}
.smallwidgets-count-chart-green .panel-title.access-denied-title,
.smallwidgets-count-chart-blue .panel-title.access-denied-title,
.smallwidgets-count-chart-red .panel-title.access-denied-title,
.smallwidgets-count-chart-orange .panel-title.access-denied-title,
.smallwidgets-count-chart-azure .panel-title.access-denied-title,
.smallwidgets-count-chart-purple .panel-title.access-denied-title,
.smallwidgets-count-chart-pink .panel-title.access-denied-title{font-size:14px;line-height:15px;}
}
@media only screen and (min-width: 1100px) and (max-width: 1280px) {
.chart-wrap-inner .legend-list{margin-top: 0;}
.chart-totale-ticket{display: none;}
.chart-wrap-inner .legend-list .legend-item {
  font-size: 14px;
}
}
@media only screen and (min-width: 1280px) and (max-width: 1440px) {
/* .chart-totale-ticket{width: 85%;} */
.chart-wrap-inner .legend-list{margin-top:1%;}
.chart-totale-ticket {
  left: 65px;
  font-size: 20px;
}
ul.dashboard-status-list li{min-width: 100%;margin:0;}
ul.dashboard-status-list li p{font-size:18px;line-height:18px;}
ul.dashboard-status-list li h2{line-height:26px;min-height:26px;font-size:26px;}
.main-sidebar ul.sidebar-menu > li{padding:0px 10px 3px 52px;min-height:28px;}
ul.sidebar-menu > li i.icon-sidebar{top:5px;}
.smallwidgets-count-chart-green .panel-title.access-denied-title,
.smallwidgets-count-chart-blue .panel-title.access-denied-title,
.smallwidgets-count-chart-red .panel-title.access-denied-title,
.smallwidgets-count-chart-orange .panel-title.access-denied-title,
.smallwidgets-count-chart-azure .panel-title.access-denied-title,
.smallwidgets-count-chart-purple .panel-title.access-denied-title,
.smallwidgets-count-chart-pink .panel-title.access-denied-title{font-size:18px;line-height:18px;}
}
/* SI-Admin widgets design start*/

/* New Dashboard*/
.bgbluewidget{background:#80dceb;}
.bggreenlwidget{background:#41c363;}
.bgpinkwidget{background:#ffd100;}
.bgyellowwidget{background:#919191;}
.bgorangewidget{background:#d2d2d2;}
.dashboard-chart{padding: 20px; min-height: 115px; display: flex; align-items: center; flex-direction: column;}
.dashboard-chart h4{font-size: 40px; font-weight: bold;}
.alerts-dashboard{max-height: 430px; overflow-y: auto;}
.alerts-dashboard li{border-bottom: solid 1px #e9e9e9; padding: 5px 0 10px 15px; position: relative; margin-bottom: 10px;}
.alerts-dashboard li::before{content:''; width: 4px; height: 100%; position: absolute; left: 0; top: 0; font-size: 0px;}
.alerts-dashboard li.alert-high::before{background-color: #eb4b4c;}
.alerts-dashboard li.alert-medium::before{background-color: #fb9823;}
.alerts-dashboard li.alert-normal::before{background-color: #00b070;}
.alerts-dashboard li:last-child{border-bottom: none;}
.alerts-dashboard span{display: block;}
.alerts-dashboard span.alerts-date{color: #8a8a8a;}
.alerts-dashboard span.alerts-info{color: #000000;}
.farmdetails {display: flex; flex-wrap: wrap;}
.farmstatics {width: auto; text-align: center; display: flex; width: 33%; padding: 0 0 20px; flex-direction: column; flex: 0 0 auto;}
.farmstatics span{display: block;}
.farmstatics span.farmstatics-title{padding: 10px 0 5px;}
.farmstatics span.farmstatics-number{font-size: 30px; font-weight: bold;}
.farmenergy span.farmstatics-number{color: #d6b33b;}
.farmtemperature span.farmstatics-number{color: #ed724b;}
.farmmoisture span.farmstatics-number{color: #405fb7;}
.farmhumidity span.farmstatics-number{color: #6cbf6c;}
.farmwater span.farmstatics-number{color: #5998d0;}
.farmdevices span.farmstatics-number{color: #72809a;}
.soil-nutritions{min-height: 350px;}


@media(max-width:1799px){
.payout-widget-item h2 {
  font-size: 30px;
  margin-bottom: 5px;
}
.payout-widget-text {
  font-size: 16px;
}
.payout-widgets-wrapper {
  padding: 10px;
}
.payout-widget-item {
  min-height: inherit;
  padding: 20px;
}
.dashboard-marketplace-list li {
  padding: 5px;
  margin: 10px;
}
}

@media(max-width: 1599px){
.payout-widget-item h2 {
  font-size: 24px;
}
.payout-widget-text {
  font-size: 14px;
}
.payout-widgets-wrapper {
  padding: 20px;
}
}

@media(max-width:1440px){
.add-dashboard-input {min-width: 190px;}
.allwidgets-menu{width: 62px !important;}


/* marketplace widget design start*/
.dashboard-marketplace-list li{
  padding: 10px;
  min-height: 85px;
} 
/* marketplace widget design end*/
.payout-widgets-wrapper {
    padding: 7px 15px;
}
.payout-widget-item {    
  padding: 10px;
}
.payout-widget-item h2 {
  font-size: 20px;
}
.ticket-right {
  padding: 5px 15px;
}
.current-month-item {
  margin: 5px 0;
}
}


@media (max-width:1400px) {
.mat-flat-button .mat-button-wrapper {
  padding: 9px 10px 11px 10px;
}
/* marketplace widget design start*/
.dashboard-marketplace-list li {
  padding: 10px;
}
.marketplace-icon {
  min-width: 36px;
  width: 36px;
}
.marketplace-title {
  font-size: 18px;
  line-height: 20px;
}
/* marketplace widget design end*/
}

@media(max-width:1280px){
.marketplace-title {
  font-size: 16px;
  line-height: 16px;
}
.marketplace-data {
  font-size: 24px;
  line-height: 24px;
}
.dashboard-marketplace-list li {
  min-height: inherit;
  padding: 5px;
}
.payout-widget-item {
  padding: 15px;
}
}

@media (max-width:1199px) {
.is-default-dashboard {
  margin-right: 5px;
}
.current-month-item {
  margin: 0 0;
  font-size: 13px;
}
/* marketplace widget design start*/
.dashboard-marketplace-list li {
  min-height: 60px;
  padding: 5px;
  margin: 0 3px 6px;
}
/* marketplace widget design end*/

ul.dashboard-status-list li h2 {
  font-size: 38px;
  margin-bottom: 0;
  line-height: 38px;
  min-height: 38px;
}
ul.dashboard-status-list li p {
  font-size: 18px;
}

.payout-widgets-wrapper {
  padding: 5px 10px;
}

.payout-widget-item {
  min-height: inherit;
  padding: 5px 5px;
}
.payout-widget-item h2 {
  font-size: 20px;
  margin-bottom: 0;
}
}


@media(min-width: 1800px){
.payout-widget-item {
  min-height: 145px;
}
.dashboard-marketplace-list li {
  min-height: 150px;
}
}

@media(min-width: 1900px){
.dashboard-marketplace-list li {
  min-height: 170px;
}
}
@media (max-width:992px) {
.dashboardtop-widget .col{
  flex-grow: 1;
    max-width: 100%;
    flex-basis: auto;
    max-width: 32%;
    margin-bottom: 15px;
}
}
@media (max-width:767px) {
  .dashboardtop-widget .col{
    flex-grow: 1;
      max-width: 100%;
      flex-basis: auto;
      max-width: 50%;
      margin-bottom: 15px;
  }
  }