<section class="content-header">
    <h1>{{pageTile}}</h1>
    <div class="content-header-action">
    </div>
</section>

<div class="content p-t-0">
    <form autocomplete="off" class="form-horizontal common-form" [formGroup]="postForm" (ngSubmit)="submitForm()">
        <mat-card class="plan-card mb-3 mat-card">
            <div class="row">
                <div class="col col-ld-12">
                    <div class="row">
                        <div class="col-md-4">
                            <fieldset class="form-group form-field mb-0">
                                <label class="form-label">Name<b>*</b></label>
                                <mat-form-field>
                                    <input formControlName="name" matInput placeholder="Name" value="">
                                    <div class="form-control-feedback" *ngIf="postForm.controls['name'].errors">
                                        <p class="form-tooltip-error sm " [ngClass]="{'error':true}"
                                            *ngIf="postForm.controls['name'].errors.required && checkSubmitStatus">
                                            Please enter name
                                        </p>
                                    </div>
                                </mat-form-field>
                            </fieldset>
                        </div>
                        <div class="col-md-4">
                            <fieldset class="form-group form-field mb-0">
                                <label class="form-label">Kit Type<b>*</b></label>
                                <mat-form-field>
                                    <mat-label>Select Kittype</mat-label>
                                    <mat-select formControlName="kittypeGuid"
                                        (selectionChange)="getTemplateAttributeLookup()">
                                        <mat-option value="">Select Kit Type</mat-option>
                                        <mat-option value="{{template['value']}}" *ngFor="let template of templateList">
                                            {{template['text']}}</mat-option>
                                    </mat-select>
                                    <div class="form-control-feedback" *ngIf="postForm.controls['kittypeGuid'].errors">
                                        <p class="form-tooltip-error sm " [ngClass]="{'error':true}"
                                            *ngIf="postForm.controls['kittypeGuid'].errors.required && checkSubmitStatus">
                                            Please select Kit Type
                                        </p>
                                    </div>
                                </mat-form-field>
                            </fieldset>
                        </div>
                        <div class="col-md-4">
                            <fieldset class="form-group form-field mb-0">
                                <label class="form-label">Severity levels<b>*</b></label>
                                <mat-form-field>
                                    <mat-label>Select severity levels</mat-label>
                                    <mat-select formControlName="severityLevelGuid">
                                        <mat-option value="">Select severity levels</mat-option>
                                        <mat-option value="{{severity['value']}}" *ngFor="let severity of severityList">
                                            {{severity['text']}}</mat-option>
                                    </mat-select>
                                    <div class="form-control-feedback"
                                        *ngIf="postForm.controls['severityLevelGuid'].errors">
                                        <p class="form-tooltip-error sm " [ngClass]="{'error':true}"
                                            *ngIf="postForm.controls['severityLevelGuid'].errors.required && checkSubmitStatus">
                                            Please select severity level
                                        </p>
                                    </div>
                                </mat-form-field>
                            </fieldset>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <fieldset class="form-group form-field">
                                <label class="form-label d-block">Type:<b>*</b></label>
                                <mat-radio-group formControlName="ruleType" (change)="ruleTypeChange()"
                                    aria-label="Select an option">
                                    <mat-radio-button value="1" [checked]="(ruleType === '1') ? true:false">Standard
                                        </mat-radio-button>
                                    <mat-radio-button value="2" [checked]="(ruleType === '2') ? true:false">Smart
                                    </mat-radio-button>
                                </mat-radio-group>
                            </fieldset>
                        </div>
                    </div>
                    <div class="row" [ngClass]="(ruleType === '1')? '':'hide'">
                        <div class="col-md-4">
                            <fieldset class="form-group form-field mb-0">
                                <label class="form-label">Attribute<b>*</b></label>
                                <mat-form-field>
                                    <mat-label>Select Attribute</mat-label>
                                    <mat-select (selectionChange)="onType('attributeGuid')" formControlName="attributeGuid">
                                        <mat-option value="">Select Attribute</mat-option>
                                        <mat-option value="{{attribute['guid']}}"
                                            *ngFor="let attribute of attributeList">
                                            {{attribute['localName']}}({{attribute['tag']}})</mat-option>

                                    </mat-select>
                                    <div class="form-control-feedback"
                                        *ngIf="attributeGuidValidationMsg && checkSubmitStatus">
                                        <p class="form-tooltip-error sm " [ngClass]="{'error':true}">
                                            Please select attribute
                                        </p>
                                    </div>
                                </mat-form-field>
                            </fieldset>
                        </div>
                        <div class="col-md-4">
                            <fieldset class="form-group form-field mb-0">
                                <label class="form-label">Condition<b>*</b></label>
                                <mat-form-field>
                                    <mat-label>Select Condition</mat-label>
                                    <mat-select formControlName="conditionText">
                                        <mat-option value="">Select Condition</mat-option>
                                        <mat-option value="{{condition['value']}}"
                                            *ngFor="let condition of conditionList">
                                            {{condition['text']}}</mat-option>
                                    </mat-select>
                                    <div class="form-control-feedback"
                                        *ngIf="postForm.controls['conditionText'].errors">
                                        <p class="form-tooltip-error sm " [ngClass]="{'error':true}"
                                            *ngIf="postForm.controls['conditionText'].errors.required && checkSubmitStatus">
                                            Please select condition
                                        </p>
                                    </div>
                                </mat-form-field>
                            </fieldset>
                        </div>
                        <div class="col-md-4">
                            <fieldset class="form-group form-field mb-0">
                                <label class="form-label">value<b>*</b></label>
                                <mat-form-field>
                                    <input (keyup)="onType('conditionValue')" formControlName="conditionValue" matInput placeholder="value" value="">
                                    <div class="form-control-feedback"
                                        *ngIf="condtionValueValidationMsg && checkSubmitStatus">
                                        <p class="form-tooltip-error sm " [ngClass]="{'error':true}">
                                            {{condtionValueValidationMsgText}}
                                        </p>
                                    </div>
                                </mat-form-field>
                            </fieldset>
                        </div>
                    </div>

                    <div class="row" [ngClass]="(ruleType === '2')? '':'hide'">
                        <div class="col-md-5">
                            <fieldset class="form-group form-field mb-0">
                                <label class="form-label">Conditions <div class="d-inline-block ml-1">
                                        <button type="button" class="infobutton" matTooltip="Condition statement triggers Rule on telemetry data that meet specified criteria. Criteria are expressed in the form of predicates. &#13;
                                        Eg.
                                        1) Temperature &gt; 50 
                                        2) Temperature &gt; 50 AND Humidity &lt; 20 
                                        3) Temperature &gt; 50 AND ( Humidity &lt; 20 OR WaterLevel &gt; 10 )
                                        4) Status = on">
                                            <img src="../../../../../assets/images/info-icon.svg"
                                                height="15px"></button>
                                    </div></label>
                                <mat-form-field>
                                    <mat-label>Select Condition</mat-label>
                                    <textarea formControlName="conditionText" placeholder="Select Condition" rows="8"
                                        class="form-control" matInput></textarea>
                                    <div class="form-control-feedback"
                                        *ngIf="postForm.controls['conditionText'].errors">
                                        <p class="form-tooltip-error sm " [ngClass]="{'error':true}"
                                            *ngIf="postForm.controls['conditionText'].errors.required && checkSubmitStatus">
                                            Please select condition
                                        </p>
                                    </div>
                                </mat-form-field>
                            </fieldset>
                            <button type="button" (click)="verifyCondition()" mat-flat-button color="primary"
                                class="text-white mb-3" title="Verify">Verify</button>
                        </div>
                        <div class="col-md-5">
                            <fieldset class="form-group form-field mb-0">
                                <label class="form-label">Select Attributes</label>
                                <div class="group-box add-ruls-attributes h200">
                                    <ul>
                                        <li *ngFor="let attribute of attributeList"><a
                                                (click)="clickAttribute(attribute['localName'],attribute['tag'])"
                                                class="angle-button"><i class="fa fa-angle-left"
                                                    aria-hidden="true"></i></a>{{attribute['localName']}}({{attribute['tag']}})
                                        </li>
                                        <!-- <li><a class="angle-button"><i class="fa fa-angle-left" aria-hidden="true"></i></a>humidity#Humidity (STRING)</li> -->

                                    </ul>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <fieldset class="form-group form-field mb-0">
                                <label class="form-label">Description<b>*</b></label>
                                <mat-form-field>
                                    <textarea formControlName="description" placeholder="Description" rows="3"
                                        class="form-control" matInput></textarea>
                                    <div class="form-control-feedback" *ngIf="postForm.controls['description'].errors">
                                        <p class="form-tooltip-error sm " [ngClass]="{'error':true}"
                                            *ngIf="postForm.controls['description'].errors.required && checkSubmitStatus">
                                            Please enter description
                                        </p>
                                    </div>
                                </mat-form-field>
                            </fieldset>
                        </div>
                    </div>

                </div>
            </div>
        </mat-card>
        <mat-card class="plan-card mb-3 mat-card">
            <div class="row">
                <div class="col col-ld-12">
                    <fieldset class="form-group form-field mb-0">
                    <label class="form-label">Alert Type<b>*</b></label>
                    <div class="row">
                        <div class="col-md-12 notification-type mb-4">
                            <mat-checkbox
                                *ngFor="let notification of postForm['controls']['notificationTypes']['controls']; let i=index;"
                                [formControl]="notification"
                                (change)="getSelectedNotification(notification, myNotification[i].name);">
                                {{myNotification[i].name}}
                            </mat-checkbox>
                        </div>

                        <div *ngIf="deviceCommandType" class="col-md-12">
                            <mat-card class="plan-card mb-3 mat-card">
                                <div class="row">
                                    <div class="col col-ld-12">
                                        <h2 class="m-b-20">Device Command Details</h2>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <fieldset class="form-group form-field mb-0">
                                                    <label class="form-label">Select Command<b>*</b></label>
                                                    <mat-form-field>
                                                        <mat-label>Select Command</mat-label>
                                                        <mat-select (selectionChange)="onType('commandText')" formControlName="commandText">
                                                            <mat-option value="">Select Command</mat-option>

                                                            <mat-option value="{{command['value']}}"
                                                                *ngFor="let command of commandList">
                                                                {{command['text']}}</mat-option>
                                                        </mat-select>
                                                        <div class="form-control-feedback"
                                                            *ngIf="commandTextValidationMsg && checkSubmitStatus">
                                                            <p class="form-tooltip-error sm "
                                                                [ngClass]="{'error':true}">
                                                                Please selected command
                                                            </p>
                                                        </div>
                                                    </mat-form-field>
                                                </fieldset>
                                            </div>

                                            <div class="col-md-4">
                                                <fieldset class="form-group form-field mb-0">
                                                    <label class="form-label">Parameter Value:</label>
                                                    <mat-form-field>
                                                        <input (keyup)="onType('commandValue')" formControlName="commandValue" matInput
                                                            placeholder="Parameter Value" value="">
                                                        <div class="form-control-feedback"
                                                            *ngIf="commandValueValidationMsg && checkSubmitStatus">
                                                            <p class="form-tooltip-error sm "
                                                                [ngClass]="{'error':true}">
                                                                {{commandValueValidationMsgText}}
                                                            </p>
                                                        </div>
                                                    </mat-form-field>
                                                </fieldset>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </mat-card>
                        </div>
                    </div>
                </fieldset>

                </div>
                <div class="form-control-feedback" *ngIf="notificationTypeValidationMsg && checkSubmitStatus">
                    <p class="form-tooltip-error sm " [ngClass]="{'error':true}">
                        Please select at least one alert type
                    </p>
                </div>
            </div>
        </mat-card>
        <div class="row mt-2 mb-1">
            <div class="col-lg-12">
                <div class="form-field">
                    <div class="input-field ">
                        <button type="submit" mat-flat-button color="primary" class="text-white "
                            title="Save">Save</button>
                        <button mat-flat-button color="primary" class="text-white " title="Cancel"
                            [routerLink]="['/admin/notifications']">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

</div>
