<!-- Content Header (Page header) -->

<section class="content-header">
  <h1>{{moduleName}}</h1>
  <div class="content-header-action">
    <div class="p-l-20">
      <button type="button" mat-flat-button color="primary" class="text-white"
              title="Hardware Kit" [routerLink]="['/admin/viewhardwarekit']">
        Hardware Kit
      </button>
    </div>

  </div>
</section>
<!-- Main content -->

<section class="content">
  <mat-card class="support-card">
    <div class="row">
      <div class="col col-ld-11">
        <form [formGroup]="bulkForm" (ngSubmit)="uploadbulk()" autocomplete="off">
          <div class="row" *ngIf="formshow==false">
            <div class="col-lg-12 col-xl-6">
              <fieldset class="form-group form-field">
                <label class="form-label">Kit Type<b>*</b></label>
                <mat-form-field color="primary">
                  <mat-select placeholder="Select Kit Type" formControlName="kitTypeGuid" tabindex="3">
                    <mat-option *ngFor="let tem of templateList" [value]="tem?.value">
                      {{tem.text}}
                    </mat-option>
                  </mat-select>
                  <div class="form-control-feedback" *ngIf="bulkForm.controls['kitTypeGuid'].errors">
                    <p class="form-tooltip-error sm" [ngClass]="{'error':true}"
                       *ngIf="bulkForm.controls['kitTypeGuid'].errors.required && checkSubmitStatus">
                      Please select Kit Type
                    </p>
                  </div>
                </mat-form-field>
              </fieldset>
            </div>
            <div class="col-lg-12 col-xl-6">
              <fieldset class="form-group form-field">
                <label class="form-label">File Upload<b>*</b></label>
                <div class="upload-image-field p-r-0">
                  <div class="form-control form-control-wrapper  form-control-icon-right">
                    <input formControlName="profile_picture" (change)="handleImageInput($event)"
                           class="upload-image w-100" type="file" id="csvFile" #profile_picture_Ref />
                    <div class="form-control-feedback"
                         *ngIf="bulkForm.controls['profile_picture'].errors">
                      <p class="form-tooltip-error sm" [ngClass]="{'error':true}"
                         *ngIf="bulkForm.controls['profile_picture'].errors.required && checkSubmitStatus">
                        Please select any file
                      </p>
                    </div>
                  </div>
                  <span class="upload-firmware-icon"></span>
                </div>
              </fieldset>
              <a class="green underline" href="javascript:void();" title="Download" (click)="download()">
                Download sample file
              </a>
            </div>
            <div class="col-lg-12 mt-4 mb-0">
              <div class="form-field">
                <div class="input-field ">
                  <button mat-flat-button color="primary" class="text-white " title="Submit"
                          type="submit">
                    Upload
                  </button>
                  <button mat-flat-button color="primary" class="text-white " title="Submit"
                          type="submit">
                    Verify
                  </button>
                  <button mat-flat-button color="primary" class="text-white m-l-10"
                          [routerLink]="['/admin/viewhardwarekit']" title="Cancel">
                    Cancel
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="" [hidden]="tblshow==false">
      <div class="table-container">
        <table mat-table [dataSource]="dataSource" matSort class="mat-table mat-table">
          <!-- Name Column -->
          <ng-container matColumnDef="kitCode">
            <th mat-header-cell *matHeaderCellDef> H/W KIT ID </th>
            <td mat-cell *matCellDef="let element"> {{element.kitCode}} </td>
          </ng-container>
          <!-- Name Column -->
          <ng-container matColumnDef="uniqueId">
            <th mat-header-cell *matHeaderCellDef> Device Id </th>
            <td mat-cell *matCellDef="let element"> {{element.uniqueId}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Device Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="tag">
            <th mat-header-cell *matHeaderCellDef> Tag </th>
            <td mat-cell *matCellDef="let element">
              {{element.tag == null? '------':element.tag}}
            </td>
          </ng-container>
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef class="w110">KitError</th>
            <td mat-cell *matCellDef="let element">
              <div class="table-icons" *ngIf="element.kitError">
                <a class="green" matTooltip="{{element.kitError}}">
                  <img alt="Edit" src="../../../../assets/images/alert-icon-red.svg">
                </a>

              </div>
            </td>
          </ng-container>
          <ng-container matColumnDef="message">
            <th mat-header-cell *matHeaderCellDef class="w110">DeviceError</th>
            <td mat-cell *matCellDef="let element">
              <div class="table-icons" *ngIf="element.deviceError">
                <a class="green" matTooltip="{{element.deviceError}}">
                  <img alt="Edit" src="../../../../assets/images/alert-icon-red.svg">
                </a>

              </div>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>

      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

      <!---	<table class="table table-default">
              <thead class="thead-dark">
                <tr>
                <th scope="col">Device Id</th>
                <th scope="col">Device Name</th>
                <th scope="col">Tag</th>
                <th scope="col">Parentdevice</th>
                <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of kitDevices;let i= index">
                <td>{{data.uniqueId}}</td>
                <td>{{data.name}}</td>
                <td>{{data.tag}}</td>
                <td>{{data.parentUniqueId == '00000000-0000-0000-0000-000000000000' || data.parentUniqueId == null ? '-----':data.parentUniqueId}}</td>
                <td>
                    <div class="table-icons">
                    <a class="green"  title="Edit" >
                      <img alt="Edit" src="../../../../assets/images/icon-edit.svg" (click)="EditItem(i)">
                      </a>
                      <a class="red" href="javascript:void(0)" (click)="DeleteItem(i)" data-toggle="modal">
                      <img src="../../../../assets/images/icon-delete.svg">
                      </a></div>
                </td>
                </tr>
              </tbody>
              </table> -->
      <div class="row mt-4 mb-1">
        <div class="col-lg-12">
          <div class="form-field">
            <div class="input-field ">
              <button mat-flat-button color="primary" class="text-white " title="Submit"
                      (click)="Upload()">
                Upload
              </button>
              <button mat-flat-button color="primary" class="text-white " title="Submit"
                      (click)="Cancel()">
                Cancel
              </button>
            </div>
          </div>
        </div>
      </div>

    </div>
  </mat-card>
</section>
